TheIsleServer.exe
steamapps/*
Engine/*
node_modules
TheIsle/*
**.log
docs/private
/TPNIsleControl/native/build/
TPNIsleControl\bridge\data\state.json
.gitnexus
# Includes
!TheIsle/Binaries/
TheIsle/Binaries/*
!TheIsle/Binaries/Win64/
TheIsle/Binaries/Win64/*
!TheIsle/Binaries/Win64/ue4ss/
!TheIsle/Binaries/Win64/ue4ss/**
/TheIsle/Binaries/Win64/ue4ss/*.log
